# Compiled class file
*.class

# Eclipse files
.classpath
.project
.settings/

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


API/com.Dar/src/main/resources/hibernate.cfg.xml
API/com.Dar/target/classes/hibernate.cfg.xml
API/com.Dar/target/m2e-wtp/web-resources/META-INF/maven/Dar/com.Dar/pom.properties

*.MF

.classpath
.project
.settings